.left-dashboard {
  display: flex;
  flex-direction: column;
  width: 18em;
  height: 36.5em;
  margin: 1.5rem;
  background-color: #0F0F13;
  border-radius: 6px;
  color: white;
  padding: 2em;
  justify-content: space-between;
}

.left-dashboard .pickup-search {
  display: flex;
  background-color: #0F0F13;
  margin-top: 0.5em;
  padding: 0.1em;
}

.left-dashboard .pickup-search .search-bar {
  width: 14em;
  height: 2.5em;
  border-radius: 0px;
  background-color: black;
  border: 2px solid #24252D;
  padding: 1em;
  margin: 0px;
  margin-left: -1em;
}

.left-dashboard .time .search-bar{
  width: 14em;
    height: 2.5em;
    border-radius: 0px;
    background-color: black;
    border: 2px solid #24252D;
    padding: 1em;
    margin: 5px;
    margin-left: -1em;
}


.left-dashboard .pickup-search .icon1 {
  background-color: #0F0F13;
  margin-bottom: 3em;
}

.left-dashboard .time .icon3 {
  background-color: #0F0F13;
  margin-bottom: 3em;
}

.left-dashboard .dest-search {
  display: flex;
  background-color: #0F0F13;
  padding: 0.1em;
  margin-top: -6em;
}

.left-dashboard .dest-search .search-bar {
  width: 14em;
  height: 2.5em;
  border-radius: 0px;
  background-color: black;
  border: 2px solid #24252D;
  padding: 1em;
  margin: 0px;
  margin-left: -1em;
}

.left-dashboard .dest-search .icon2 {
  background-color: #0F0F13;
  margin-bottom: 3em;
}

.left-dashboard .time {
  display: flex;
  background-color: #0F0F13;
  padding: 0.1em;
  margin-top: -5em;
}

.left-dashboard .time .icon3 {
  background-color: #0F0F13;
  margin-bottom: 1em;
  margin-left: 0.2em;
}

.popUp-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 14, 16, 0.733);
  /* Adjust the opacity as needed */
  z-index: 1000;
}

.addRide-btn .search-btn {
  width: 20em;
  height: 10em;
  border-radius: 4px;
  padding: 0.2em;
}

.pop-container {
  display: flex;
  position: fixed;
  background-color: black;
  color: white;
  height: 35em;
  width: 43em;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3em;
  border-radius: 8px;
}

.pop-container .cross-btn {
  margin-left: 37rem;
  margin-top: -1.5rem;
  height: 2em;
  width: 2em;
  border: 0px;
}

.pop-container .cross-btn:hover {
  background-color: rgba(46, 46, 52, 0.345);
}

h5 {
  background-color: #0F0F13;
  font-size: 0.9em;
  font-weight: 500;
  margin-left: 0.3em;
  margin-bottom: 0.5em;
}