body,
html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  
}

*{
  background-color: black;
}

/* Navbar.css */

.navbar_div {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  border-bottom-color: #1E1E24;
  color: #fff;
  padding: 10px 20px;
  margin-top: 0px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 5em;
  height: 3.5em;
  margin-right: 10px;
}

.navbar-links {
  list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.navbar-links li {
  margin-right: 60px;
}

.navbar-links a {
  text-decoration: none;
  color: #fff;
}

.navbar-links a:hover,
.navbar-links a.active {
  font-weight: bold;
  color: rgb(158, 16, 16);
}

/* LandingPage.css */

.landing {
  background-color: black;
  margin-top: 0px;
}

.landing-content {
  padding: 80px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.landing-left {
  flex: 1;
  text-align: left;
  color: white;
  padding-left: 120px;
  padding-top: 70px;
  
}


.red{
  color: rgb(158, 16, 16);
}

.landing h1 {
  font-size: 50px;
  margin-bottom: 10px;
}


.landing-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 50px;
}

.landing-right {
  flex: 1;
  text-align: right;
}

.login-button1,
.signup-button1 {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.login-button1 {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}

.signup-button1 {
  background-color:rgb(158, 16, 16);
  color: #fff;
  border: 2px solid #fff;
}

.login-button1:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.signup-button1:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.landing img {
  max-width: 100%;
  height: auto;
}

/* Features.css */



.circles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.circle {
  width: 80px;
  height: 80px;
  border: 2px solid rgb(172, 164, 164);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 50px;
  margin: 0 100px;
  color: #fff;
}

.double-arrow {
  font-size: 5rem;
  margin: 0 10px;
}

.feature-columns {
  display: flex;
  justify-content: space-around;
}

.feature-column {
  flex: 1;
}

.feature {
  margin-top: 80px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 10px;
  background-color: black;
  border: 1px solid rgb(172, 164, 164);
  border-radius: 5px;
  text-align: center;
  color: #fff;
}

.feature h2{
  color: red;
  font-size: larger;
}
.feature img{
  height: 50px;
  margin-top: 20px;
  margin-left: 140px;
  margin-bottom: 20px;
}

.feature p{
  font-size: smaller;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

/*Sign-up*/

.box1 {
  align-items: center;
  text-align: center;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("https://t3.ftcdn.net/jpg/04/19/68/32/360_F_419683225_7RYa2h2m54UkGLCeEC6tHXoahX7Ymv8k.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.form-group {
  margin:120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-input {
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin: 5px;
  width: 250px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 20px;
  color: white;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 20px;
}

.signup-button {
  font-size: 1.15rem;
  margin-top: 20px;
  background-color: #060505;
  color: #fff;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #ff1a00;
}

/* LogIn */

.box2{
  text-align: center;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("https://t3.ftcdn.net/jpg/04/19/68/32/360_F_419683225_7RYa2h2m54UkGLCeEC6tHXoahX7Ymv8k.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

}

.form-group {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-input {
  display: flex;
  align-items: center;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin: 5px;
  width: 250px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.login-button {
  font-size: 1.15rem;
  margin-top: 20px;
  background-color: #060505;
  color: #fff;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #ff1a00;
}



.search-bar{
 border-radius: 10px;
}


#pickup-icon-card{
  background-color:  #0F0F13;
  position:relative;
  left: 0.3rem;
  top: 0.3rem;
  margin: 1em;
  width: 22px;
  height: 22px;
} 

#to-icon-card{
  background-color:  #0F0F13;
  position: relative;
  top: 0.3rem;
  left: 2.6rem;
  margin: 1em;
  width: 22px;
  height: 22px;
  
}

#enter-icon-card{
  background-color:  #FD4438;
  margin: 1em;
  width: 22px;
  height: 22px;
  position:relative;
  top: 16.55rem;
  right: 18.9rem;
}

#check-icon-card{
  background-color:  #0F0F13;
  margin: 1em;
  width: 22px;
  height: 22px;
  position: relative;
  align-self: flex-end;
  right: 17.5rem;
 
}


.custom-h3 {
  color: #FD4438;
  background-color:  #0F0F13;
}

.custom-h3-to{
  position: relative;
  left: 2rem;
  color: #FD4438;
  background-color:  #0F0F13;
}
.custom-h4{
  position:relative;
  top: 3rem;
  right: 11rem;
  color: white;
  height: 0rem;
  background-color: none;
}



.profile-menu{
  display: flex;
  left: 20 rem;
  top : 20rem;
}

/* Profile Dropdown */
.menu-trigger img{
  position: absolute;
  top: 2em;
  right: 2em;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
}

.dropdown-menu{
  position: absolute;
  top: 100px;
  right: 20px;
  background-color:  #0F0F13;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
  border-radius: 8px;
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.dropdown-menu ul li{
  padding: 10px  0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  
}

.dropdown-menu ul li:hover a{
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.dropdown-menu ul li:hover img{
  opacity: 1;
  cursor: pointer;
}

.dropdownItem{
  display: flex;
  margin: 2px auto;
}

.dropdownItem img{
  max-width: 1em;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 10px;
  color: white;
  transition: var(--speed);
}

